section{
	z-index: 1000;
	background-color: $gris-claro;
}
.carousel{
	height:400px;
	box-shadow: 0 2px 20px black;
}
.informacion{
	position:absolute;
	width:100%;
	height:400px;
	display:flex;
	justify-content:center;
	padding-left:8rem;
	flex-direction:column;
	z-index:100;
	@media all and (max-width:1024px){
		padding-left: inherit;
	}
	.informacion-titulo{
		width:320px;
		font-size:1.8rem;
		text-shadow: 0 0 14px black;
		margin-bottom:0;
		color: $gris-marron;
		@media all and (max-width: 1024px){
			margin:20px auto;
			text-align:center;
		}
	}
	.informacion-parrafo{
		width:320px;
		margin-top: 40px;
		font-size: 1rem;
		color:$gris-marron;
		text-shadow: 0 0 5px black;
		@media all and (max-width: 1024px){
			margin:0 auto;
			text-align:center;
		}
	}
	.informacion-link{
		width:110px;
		height: 30px;
		background-color:$gris-oscuro;
		padding:0;
		border: none;
		border-radius: 30px;
		@media all and (max-width: 1024px){
			margin:15px auto;
			text-align:center;
		}
		.informacion-link_boton{
			
		}
		.informacion-link_contacto{
			margin: auto 0;
			color:$gris-marron;
			&:hover{
				color: $gris-marron;
			}
		}
	}
}

.separador{
	display:block;
	width:100%;
	height: 3px;
	background-color: rgba(178,192,205,0.60);
	margin-top:30px;
	filter: blur(1px);
}
.presentacion{
	margin:60px 0px;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
	font-family:$nunito;
	.presentacion-contenido{
		width:300px;
		text-align:center;
		.presentacion-contenido_icono{
			font-size:3rem;
			color:$gris-celeste;
		}
		.presentacion-contenido_titulo{
			font-size:1.3rem;
			margin-top: 40px ;
			font-weight:$bold;
		}
		.presentacion-contenido_descripcion{
			margin-top:30px;
			font-size:.8rem;
			color:$gris-azul;
			font-weight:$regular;
		}
	}
}