/*colores*/
$gris-oscuro: rgb(88,96,101);
$gris-celeste: rgb(178,192,205);
$gris-claro: rgb(249,249,249);
$gris-marron: rgb(215,212,199);
$blanco: rgb(220,220,220);
$gris-azul: rgb(121,141,163);

/*fuentes*/
$montserrat: 'Montserrat Alternates', sans-serif;
$nunito: 'Nunito', sans-serif;
$light: 100;
$regular: 400;
$bold: 600;
$black:900;